.logo {
    height: 80px;
}

.logo-container, .logo-mobile-container {
    padding: 10px 15px;
}

.logo-mobile-container {
    display: none;
}

.logo-mobile {
    height: 100px;
}

@media only screen and (max-width: 650px) {
    .logo-container {
        display: none;
    }
    .logo-mobile-container {
        display: block;
    }
}